@use '../variables.scss' as var;

.footer {
    position: absolute;
  
    background-color: #00000025;
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
  
    text-align: center;
  
    bottom: 0px;
    height: 2.5rem;
  
    p {
      font-size: 12px;
    }
  
    a {
      display: inline-block;
      padding: 0 2px;
      font-size: 13px;
      text-decoration: none;
      color: darken($color: var.$text, $amount: 3%);
      transition: 0.3s;
      
    }
  }

  @media only screen and (min-width: 768px) {
    a{
      &:hover {
        font-size: 15px;
        color: darken($color: var.$text, $amount: 10%);
      }
    }
  }