.header {
    position: sticky;
    top: 0;
    height: 50px;
  
    padding-top: 15px;
  
    z-index: 99;
  
    background-color: #00000079;
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
  }